
curl "http://localhost:5100/notedocsvc/outlinetext?name=NewRelic&type=App&aspect=Reference"

curl "http://localhost:5100/notedocsvc/outlinetext?name=Kubernetes&type=AppDevTool&aspect=Toolbox"

curl "http://localhost:5100/notedocsvc/statusreport"
curl "http://localhost:5100/notedocsvc/statusreport?days=30"
curl "http://localhost:5100/notedocsvc/statusreport?begin=03-23"
curl "http://localhost:5100/notedocsvc/statusreport?begin=03-23&end=03-25"


curl "http://localhost:5100/notedocsvc/search" -X POST -H "Content-Type:application/json" -d '{"aspect": "Toolbox", "search_term": "Enable Lambda logging"}'

curl "http://localhost:5100/notedocsvc/search" -X POST -H "Content-Type:application/json" -d '{"aspect": "Toolbox", "search_term": "Basic inspection"}'
curl "http://localhost:5100/notedocsvc/search" -X POST -H "Content-Type:application/json" -d '{"aspect": "Toolbox", "search_term": "Basic | inspection"}'
